body
{
    background-color: #FCF5ED
}
header
{
     display: flex;
    }
#navbar
{
     width: 57.7%; 
     height: auto;
     margin: auto;
    }
#container
{
    width: 100%;
    background-color: brown ; 
    height: 850px; 
}
#resim
{
    width: 100%; 
    background-color: rgb(0, 255, 136); 
    height: 700px; 
    opacity: 0.7; 
}
#yazi
{
    color: aliceblue; 
    font-size: 40px; 
    text-align: center;
}

.menu
			{
				list-style:none;
				margin:0; padding:0;
               
			}
			
			.menu li
			{
				float:left;
				margin:5px;
			}
			
			.menu a
			{
				text-decoration:none;
				color:#fff;
				font-weight:bold;
                border-radius: 15px;
				border:1px solid #fff;
				border-top:1px solid #fff;
				background:#527853;
				width:150px;
				display:block;
				line-height:25px;
				padding:5px;
				text-align:center;
			}
			
			.menu a:hover
			{
				margin-top:5px;
				border-top:5px solid #7D0A0A;
				color:#7D0A0A;
			}